.club-container {
    position: relative;
    width: 50vw;
}

.feature-img {
    display: block;
    width: 100%;
}

.club-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.25s;
}

.club-info > * > a{
    color: black;
    font-size: large;
}


.club-info > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.club-info:hover {
    opacity: 0.5;
}


.club-info:hover > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}


