.banner_img{
    height: 100%;
    width: 100%;
    position: relative;
}

.banner_text{
    position: absolute;
    top: 15%;
    right: 10%;
    color: aliceblue; 
    border:5px solid rgb(55, 149, 185);
    background: rgb(55, 149, 185);
}

.programs-board{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

footer{
    height: 50px;
    margin-top: -50px;
}



