html,
body {
  min-height: 100vh;
}

@media only screen and (max-width: 992px) {
  .custom-margin {
    margin-top: 60px;
  }
}

/* BOOTSTRAP SPECIFIC CUSTOMIZATION */
.nav-z {
  z-index: 99;
}

.toast {
  z-index: 99;
}
